.header-container {
  margin-top: 2.4rem;
}

.header {
  display: flex;
}

form {
  flex: 1;
  display: flex;
  gap: 1rem;

  margin-bottom: 3.2rem;
}

.search-input {
  flex: 1;
}

.btn-search {
  padding: 0 3.2rem;
}

.logo {
  height: 7.2rem;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.main h1 {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  text-align: justify;

  background-image: linear-gradient(to top, rgb(36, 36, 36), #fff);
  -webkit-background-clip: text;
  background-clip: text;
  clip: text;
  -webkit-text-fill-color: transparent;
}
